[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
shapely = "*"

[dev-packages]
build = "*"
twine = "*"
ruff = "*"
pre-commit = "*"
ipykernel = "*"

[requires]
python_version = "3.14"
